$text-color: #000000cc;
$border-color: #00000044;

@font-face {
  font-family: Nunito;
  src: url(../static/Nunito-VariableFont_wght.ttf);
}

body {
  background-color: #ffffff;
  color: $text-color;
  font-family: Nunito;
}

span {
  padding-inline: .5rem;
}

.page-container {
  width: 100%;
  padding: 0vw 0vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.content-container {
  width: 60vw;
  margin-top: 4vw;
}

.hero {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px $border-color solid;
  border-bottom: none;
  gap: 1.2vh;
  padding: 4rem;
  box-sizing: border-box;

  overflow: hidden;

  h1 {
    font-size: 5vh;
    text-align: center;
    letter-spacing: 0px;
    font-weight: 800;
  }
}

.header {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(120deg, hsl(0, 70%, 33%), hsl(32, 70%, 33%));
  color: white;
  width: 110%;
  transform: translateX(-5%);
  border-radius: 10px;


  h5 {
    margin: 0px;
  }

  button {
    background-color: transparent;
    border: none;
    padding: 0.25rem 1rem;
    font-family: Nunito;
    color: white;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.185);
    cursor: pointer;
  }
}

.body-container {
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border: $border-color 1px solid;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  border-top:none;

  img {
    max-width: 100%;
  }
}

.description {
  text-indent: 1rem;
  margin: 0px;
  word-spacing: 1px;
  line-height: 1.5rem;
}

.submissions {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.submission {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid $border-color;
  width: 100%;

  iframe {
    display: flex;
    align-self: center;
    border: none;
  }
}



.upload-demo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    // border: 1px dashed $border-color;
    padding: 0.5rem;
  }

  textarea {
    height: 20vh;
    // border: 1px dashed $border-color;
    padding: 0.5rem;
  }

  button {
    // width: 15%;
    background: transparent;
    border: none;
    color: $text-color;
    // text-align: left;
    padding: 0.5rem;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.185);
    cursor: pointer;
  }
}

.color-effect {
  background: linear-gradient(120deg, hsl(0, 70%, 33%), hsl(32, 70%, 33%));

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

$breakpoint-tablet: 1080px;

@media (max-width: $breakpoint-tablet) {
  .content-container{
    width: 90vw;
  }
  .body-container{
    padding:2vh;
  }

  .description{
    text-align: center;
  }

  .hero {
    height: 60vh;
  
    h1 {
      font-size: 3vh;
    }
  }

  .header {
    align-items: center;
    // background: linear-gradient(120deg, hsl(0, 70%, 33%), hsl(32, 70%, 33%));
    border-radius:0px;
    transform:none;
    color: white;
    width: 100%;
  
  
    h5 {
      margin: 0px;
    }
  
    button {
      background-color: rgba(255, 255, 255, 0.24);
      border-radius:10px;
      border: none;
      padding: 0.25rem 1rem;
      font-family: Nunito;
      color: white;
      margin-bottom:10px;
    }
  
    button:hover {
      background-color: rgba(0, 0, 0, 0.185);
      cursor: pointer;
    }
    .button-container{
      display:flex;
      width:80%;
      justify-content: space-between;
      flex-wrap:wrap
    }
  }
}